@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 9.5%, rgba(102, 102, 102, 0) 35.21%), linear-gradient(90deg, rgba(0, 0, 0, 0.7) 15.2%, rgba(102, 102, 102, 0) 79.3%);
}
.banner.science-research-banner .bg .banner-wrapper {
  bottom: 8%;
}
.banner.science-research-banner .bg .banner-wrapper .heading {
  max-width: 570px;
}
.banner.science-research-banner .bg .banner-wrapper .heading h1 {
  margin-top: 40px;
}

.science-research-secA .main_wrapper {
  align-items: flex-start;
}

.science-research-secB {
  background: #FFFBE6;
}
.science-research-secB .main_wrapper {
  flex-direction: row-reverse;
  align-items: flex-start;
}
.science-research-secB .main_wrapper figure {
  position: sticky;
  top: calc(var(--headerheight) + 20px);
  max-width: 579px;
}
.science-research-secB .main_wrapper figure h4 {
  text-align: center;
  font-weight: 600;
  color: black;
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
}
.science-research-secB .main_wrapper figcaption .heading h2 {
  font-size: 36px;
  color: var(--primary);
  font-weight: 700;
}
.science-research-secB .main_wrapper figcaption .desc {
  margin-top: 20px;
}
.science-research-secB .main_wrapper figcaption .desc p {
  font-weight: 400;
  line-height: 1.5;
}
.science-research-secB .main_wrapper figcaption .desc p:not(:last-child) {
  margin-bottom: 20px;
}
.science-research-secB .main_wrapper figcaption ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  color: var(--para);
}
.science-research-secB .main_wrapper figcaption ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6l6 6-6 6' stroke='%231a56db' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  content: "";
}

.info_grahphic.science-research-secC .main_wrapper {
  align-items: flex-start;
}
.info_grahphic.science-research-secC .main_wrapper figure {
  position: sticky;
  top: calc(var(--headerheight) + 20px);
  max-width: 579px;
}
.info_grahphic.science-research-secC .main_wrapper figcaption ul {
  border-left: none;
}
.info_grahphic.science-research-secC .main_wrapper figcaption ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  color: var(--para);
}
.info_grahphic.science-research-secC .main_wrapper figcaption ul li::before {
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6l6 6-6 6' stroke='%231a56db' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  content: "";
}

.science-research-secD {
  background: #004D99;
}
.science-research-secD .heading h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.science-research-secD .heading p {
  max-width: 746px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  margin: auto;
  text-align: center;
}
.science-research-secD .support-slider {
  position: relative;
  margin: 40px 0 30px 0;
}
.science-research-secD .support-slider .swiper-nav button {
  border: 1px solid #ffffff;
  background: white;
  transition: 0.5s ease;
}
.science-research-secD .support-slider .swiper-nav button svg path {
  fill: #004D99;
}
.science-research-secD .support-slider .swiper-prev.swiper-button-disabled, .science-research-secD .support-slider .swiper-next.swiper-button-disabled {
  cursor: no-drop;
  opacity: 1;
  filter: grayscale(1);
}
.science-research-secD .support-slider .swiper {
  max-width: 97%;
  margin: auto;
}
.science-research-secD .support-slider .swiper .swiper-wrapper .swiper-slide {
  background: white;
  padding: 20px 25px;
}
.science-research-secD .support-slider .swiper .swiper-wrapper .swiper-slide figure {
  width: 54px;
  height: 54px;
  background: #3371AD;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.science-research-secD .support-slider .swiper .swiper-wrapper .swiper-slide figure p {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
.science-research-secD .support-slider .swiper .swiper-wrapper .swiper-slide h4 {
  font-weight: 600;
  color: #004D99;
  font-size: 20px;
  margin-bottom: 10px;
  max-width: 80%;
}
.science-research-secD .support-slider .swiper .swiper-wrapper .swiper-slide p {
  font-weight: 400;
  font-size: 16px;
  color: var(--text);
}

.info_grahphic.science-research-secE .main_wrapper {
  flex-direction: row-reverse;
  align-items: flex-start;
}
.info_grahphic.science-research-secE .main_wrapper figure {
  position: sticky;
  top: calc(var(--headerheight) + 20px);
  max-width: 579px;
}
.info_grahphic.science-research-secE .main_wrapper figcaption ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  color: var(--para);
}
.info_grahphic.science-research-secE .main_wrapper figcaption ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6l6 6-6 6' stroke='%231a56db' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  content: "";
}

.info_grahphic.science-research-secF {
  background: #FFFBE6;
}
.info_grahphic.science-research-secF .main_wrapper {
  align-items: flex-start;
  justify-content: center;
}
.info_grahphic.science-research-secF .main_wrapper figure {
  position: sticky;
  top: calc(var(--headerheight) + 20px);
  max-width: 579px;
}
.info_grahphic.science-research-secF .main_wrapper figcaption {
  max-width: 532px;
}
.info_grahphic.science-research-secF .main_wrapper figcaption button {
  margin-top: 30px;
}
.info_grahphic.science-research-secF .main_wrapper figcaption ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  color: var(--para);
}
.info_grahphic.science-research-secF .main_wrapper figcaption ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6l6 6-6 6' stroke='%231a56db' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  content: "";
}

.info_grahphic.science-research-secG .main_wrapper {
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
}
.info_grahphic.science-research-secG .main_wrapper figure {
  position: sticky;
  top: calc(var(--headerheight) + 20px);
  max-width: 579px;
}
.info_grahphic.science-research-secG .main_wrapper figcaption {
  max-width: 553px;
}
.info_grahphic.science-research-secG .main_wrapper figcaption button {
  margin-top: 30px;
}
.info_grahphic.science-research-secG .main_wrapper figcaption ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  color: var(--para);
}
.info_grahphic.science-research-secG .main_wrapper figcaption ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6l6 6-6 6' stroke='%231a56db' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  content: "";
}

.info_grahphic.science-research-secH {
  background: #FFFBE6;
}
.info_grahphic.science-research-secH .main_wrapper {
  align-items: flex-start;
  justify-content: center;
}
.info_grahphic.science-research-secH .main_wrapper figure {
  position: sticky;
  top: calc(var(--headerheight) + 20px);
  max-width: 579px;
}
.info_grahphic.science-research-secH .main_wrapper figcaption {
  max-width: 532px;
}
.info_grahphic.science-research-secH .main_wrapper figcaption button {
  margin-top: 30px;
}
.info_grahphic.science-research-secH .main_wrapper figcaption ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  color: var(--para);
}
.info_grahphic.science-research-secH .main_wrapper figcaption ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6l6 6-6 6' stroke='%231a56db' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  content: "";
}

.science-research-secG .flex-box {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  overflow: hidden;
}
.science-research-secG .flex-box .col:first-child {
  max-width: 337px;
  width: -moz-fit-content;
  width: fit-content;
  position: sticky;
  top: calc(var(--headerheight) + 22px);
  height: -moz-fit-content;
  height: fit-content;
}
.science-research-secG .flex-box .col:first-child h2 {
  color: #004D99;
  margin-bottom: 35px;
}
.science-research-secG .flex-box .col:last-child {
  flex: 1;
}

.image-compare {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  width: 579px;
  height: 388px;
}
.image-compare__before, .image-compare__after {
  position: absolute;
  inset: 0;
}
.image-compare__before img, .image-compare__after img {
  -o-object-fit: cover;
     object-fit: cover;
}
.image-compare__after {
  z-index: 2;
}
.image-compare__divider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #fff;
  transform: translateX(-50%);
  z-index: 4;
  pointer-events: none;
}
.image-compare__handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.image-compare__range {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: ew-resize;
  z-index: 10;
}/*# sourceMappingURL=science-research.css.map */