@import '../_var'

.banner.our_works_hero
    .bg
        .banner-wrapper 
            .heading
                max-width: 720px
                h1
                    margin-top: 25px
                    font-size: 36px

.our_projects
    .heading
        max-width: 530px
        text-align: center
        margin: 0 auto 80px
        .icon
            width: 55px
            margin: 0 auto 10px
        h2
            font-weight: 600
    .project_wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 25px 20px
    .btn_wrap
        margin-top: 80px
        justify-content: center
        button
            font-weight: 400
            color: $text
            &:hover
                img
                    transform: translateY(5px)
            img
                display: block
                width: 42px
                margin: 0 auto 12px