@import '../_var'

.banner.our_works_hero
    .bg
        .banner-wrapper 
            @include media(540)
                bottom: 40%
                transform: translate(0, 40%)
            .heading
                max-width: 720px
                h1
                    margin-top: 25px
                    font-size: 36px
                    @include media(991)
                        font-size: 32px
                    @include media(768)
                        font-size: 28px
                    @include media(540)
                        font-size: 24px

.our_projects
    .heading
        max-width: 530px
        text-align: center
        margin: 0 auto 80px
        @include media(1170)
            margin: 0 auto 70px
        @include media(991)
            margin: 0 auto 60px
        @include media(768)
            margin: 0 auto 50px
        @include media(540)
            margin: 0 auto 40px
        .icon
            width: 55px
            margin: 0 auto 10px
        h2
            font-weight: 600
    .project_wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 25px 20px
        @include media(991)
            grid-gap: 20px 15px
        @include media(768)
            grid-template-columns: repeat(1, 1fr)
        .strategy_col.item-md
            @include media(540)
                height: 310px
    .btn_wrap
        margin-top: 80px
        justify-content: center
        @include media(991)
            margin-top: 70px
        @include media(768)
            margin-top: 60px
        @include media(540)
            margin-top: 50px
        button
            font-weight: 400
            color: $text
            &:hover
                img
                    transform: translateY(5px)
            img
                display: block
                width: 42px
                margin: 0 auto 12px