@import '../_var'

.impact_sec
    background: var(--lightbg)
    .heading
        text-align: center
    .info_grahphic
        .main_wrapper
            .play-btn
                right: 30px
                bottom: 40px
                left: unset
                top: unset
                transform: unset

.banner
    &.why_we_exist
        .banner-wrapper
            .icon
                width: 62px
                height: 42px
            .heading
                max-width: 557px
                h2
                    margin-top: 150px
                .desc
                    margin-top: 20px
                    p
                        &:not(:last-child)
                            margin-bottom: 15px

.theory_sec 
    background: $primary
    .heading
        text-align: center
        * 
            color: $white
    .theory_nav
        position: relative
        margin: 70px auto
        padding: 0 var(--containerfluid)
        display: flex
        align-items: center
        justify-content: center
        gap: 100px
        overflow-x: auto
        z-index: 0
        &::before
            content: ""
            position: absolute
            top: 35%
            left: 0
            width: 100%
            height: 1px
            background: #FFFFFF33
            z-index: -1
        .theory_icon
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            gap: 15px
            cursor: pointer
            &.active
                figure
                    border-color: $white
                    background: $white
                    img
                        filter: invert(1)
                p
                    color: $white
            figure
                width: 65px
                height: 65px
                border-radius: 50%
                background: $primary
                border: 1px solid #FFFFFF80
                display: flex
                align-items: center
                justify-content: center
                transition: .5s ease
                @include media(991)
                    width: 60px
                    height: 60px
                @include media(767)
                    width: 50px
                    height: 50px
                img, svg
                    width: 50%
                    height: 50%
            p
                transition: .5s ease
                color: #FFFFFF80
    .main_wrapper
        .tab-nav-content
            .tabs
                &:not(.active)
                    transform: translateY(50px)
                .theory_wrapper
                    position: relative
                    .theory_slider
                        max-width: 97%
                        .theory_card
                            background: $white
                            width: 100%
                            height: 100%
                            padding: 28px
                            h6
                                color: $primary
                                font-weight: 600
                                font-size: 20px
                                line-height: 1.3
                                margin-bottom: 15px
                            .desc
                                margin-bottom: 25px
                                p
                                    &:not(:last-child)
                                        margin-bottom: 10px
                                ul
                                    li
                                        position: relative
                                        padding-left: 25px
                                        &:not(:last-child)
                                            margin-bottom: 10px
                                        &::before
                                            content: ''
                                            position: absolute
                                            width: 24px
                                            height: 24px
                                            background: url(/icon/arrow-right.svg) no-repeat
                                            background-size: cover
                                            top: 0
                                            left: -5px
                            .read_more
                                display: flex
                                align-items: center
                                gap: 10px
                                color: $primary
                                transition: .5s ease
                                font-weight: 600
                                svg
                                    transition: .5s ease
                                &:hover
                                    svg
                                        transform: translateX(5px)
        .btn_wrap
            margin-top: 55px
            justify-content: center         
            // button
            //     z-index: 1
  
.mission_vision
    background: $primary
    .container-fluid
        margin-right: 0
        padding-right: 0
        
    .heading
        text-align: center
        margin-bottom: 60px
        h2
            color: $white
    .main_wrapper
        .mission_slider
            .mission_col
                background: $white
                padding: 30px 20px
                width: 100%
                height: 100%
                .title
                    display: flex
                    align-items: center
                    gap: 15px
                    margin-bottom: 20px
                    h6
                        flex: 1
                        color: $primary
                        font-weight: 700
                        font-size: 24px
                    .icon
                        flex: 0 1 auto
                        width: 50px
                        height: 50px
                .desc
                    p
                        &:not(:last-child)
                            margin-bottom: 10px
        .swiper-nav
            margin: 50px auto 0
            display: flex
            align-items: center
            gap: 15px
            justify-content: center
            position: relative
            @include media(768)
                margin: 40px auto 0 
            @include media(540)
                margin: 30px auto 0
                display: flex !important
            .swiper-prev, .swiper-next
                flex: 0 1 auto
            .progressbar
                flex: 1
                width: 220px
                max-width: 220px
                position: relative
                @include media(540)
                    max-width: 180px
                    height: 2px
            .swiper-pagination-progressbar
                height: 3px
                --swiper-pagination-color: var(--white)
                background: #FFFFFF6B

.our_strategy
    background: var(--lightbg)
    .heading 
        text-align: center
        max-width: 450px
        margin: 0 auto 60px
    .strategy_wrapper
        position: relative
        .swiper-nav
            max-width: 80%
            width: 80%
    .info_details
        margin-top: 50px
        background: $white
        padding: 40px
        align-items: center
        figure
            flex: 0 1 auto
            padding-right: 55px
        figcaption
            flex: 1
            padding-left: 55px
            border-left: 1px solid $primary
            p
                &:not(:last-child)
                    margin-bottom: 20px

.global_team
    .heading
        text-align: center
        max-width: 630px
        margin: 0 auto 50px
    .btn_wrap
        justify-content: center
        margin-top: 50px

.partner_sec
    background: linear-gradient(0deg, #FFFFFF, #FFFBE6)
    .heading
        text-align: center
        margin-bottom: 60px
    .logo-slider
        margin-bottom: 80px
    .get_in_touch
        display: flex
        align-items: center
        justify-content: center
        gap: 20px

.journey_sec
    .heading
        text-align: center
        margin-bottom: 90px
        @include media(1170)
            margin-bottom: 160px
        @include media(768)
            margin-bottom: 40px
        @include media(540)     
            margin-bottom: 30px
    .main_wrapper
        height: 230px
        // max-width: 1280px
        margin: 0 auto
        // overflow-x: auto
        @include media(1336)
            max-width: 1200px
        @include media(1200)
            max-width: 1150px
        @include media(1170)
            max-width: 990px
        @include media(768)
            height: 100%
            overflow-y: auto
            @include scrollbar($width: 3px,$background: transparent,$color : $secondary, $radius: 2px)
        .timeline
            position: relative
            display: flex
            justify-content: space-between
            padding: 70px 0
            @include media(768)
                flex-direction: column
                padding: 20px 0 
                gap: 10px
                height: auto
            &::before 
                content: ""
                position: absolute
                left: 0
                right: 0
                top: 50%
                transform: translateY(-50%)
                height: 2px
                background: #d0d0d0
                z-index: 1
                @include media(768)
                    left: 30px
                    right: auto
                    top: 0
                    transform: none
                    width: 2px
                    height: 100%
                @include media(540)     
                    left: 8px
            .time_col
                position: relative
                flex: 1
                z-index: 2
            input
                display: none
                &:checked
                    ~ .time-item
                        .year
                            color: $secondary
                            @include media(768)     
                                color: $text
                        .dot
                            background: $secondary
                            @include media(768)     
                                background: #d0d0d0
                            &::before
                                height: 110px
                                background: $secondary
                        .content
                            opacity: 1
                            visibility: visible
                            pointer-events: auto
                            transform: translateY(0)
            .time_col
                &:nth-of-type(odd) 
                    @include media-min(768)
                        .time-item
                            .year
                                bottom: calc(50% + 30px)
                                @include media(991)
                                    bottom: calc(50% + 20px)
                            .dot
                                top: 100%
                            .content
                                top: calc(50% + 30px)
                                @include media(991)
                                    top: calc(50% + 30px)
                &:nth-of-type(even) 
                    @include media-min(768)
                        .time-item
                            .dot
                                &::before
                                    bottom: 100%
                            .year
                                top: calc(50% + 30px)
                                @include media(991)
                                    top: calc(50% + 20px)
                            .content
                                bottom: calc(50% + 30px)
                                @include media(991)
                                    bottom: calc(50% + 30px)
                &:last-of-type
                    @include media-min(768)
                        .time-item
                            .content
                                text-align: right
                                // left: -50%
                                // transform: translateX(-45%)
                                padding-left: 0
                                padding-right: 15px
                                left: unset
                                right: 50%
                &:nth-last-of-type(2)
                    @media (max-width: 991) and (min-width: 768)
                        .time-item
                            .content
                                text-align: right
                                padding-left: 0
                                padding-right: 15px
                                left: unset
                                right: 50%
                    
            .time-item
                position: relative
                z-index: 2
                @include media(768)
                    display: flex
                    align-items: start
                    text-align: left
                    margin-bottom: 12px
                .year
                    position: absolute
                    left: 50%
                    transform: translateX(-50%)
                    font-size: 16px
                    color: #666666
                    cursor: pointer
                    white-space: nowrap
                    transition: color 0.3s ease
                    z-index: 4
                    @include media(768) 
                        position: relative
                        left: 12px
                        bottom: 2px
                        transform: none
                        margin-left: 30px
                    @include media(540)     
                        left: 8px
                        margin-left: 20px
                .dot
                    position: absolute
                    left: 50%
                    top: 50%
                    transform: translate(-50%, -50%)
                    width: 12px
                    height: 12px
                    border-radius: 50%
                    background: #d0d0d0
                    z-index: 3
                    transition: background 0.3s ease
                    &::before
                        content: ""
                        position: absolute
                        left: 50%
                        transform: translateX(-50%)
                        width: 1px
                        height: 0
                        background: transparent
                        transition: height 0.3s ease
                        @include media(768)
                            display: none
                    @include media(768)
                        left: 30px
                        top: 3px
                        transform: translate(-50%, 0)
                    @include media(540)     
                        left: 9px
                .content
                    position: absolute
                    left: 50%
                    transform: translateY(10px)
                    // width: 100%
                    width: 200px
                    padding-left: 15px
                    opacity: 0
                    visibility: hidden
                    pointer-events: none
                    transition: all 0.4s ease
                    z-index: 5
                    @include media(1170)
                        width: 180px
                    @include media(768)
                        position: relative
                        left: 0
                        transform: none
                        width: 100%
                        padding-left: 0
                        margin-left: 30px
                        display: block
                        opacity: 1
                        visibility: visible
                    @include media(540)     
                        margin-left: 25px
                    h4
                        font-size: 18px
                        font-weight: 600
                        line-height: 1.2
                        margin-bottom: 6px
                        @include media(991)
                            font-size: 16px
                        @include media(768)         
                            color: $primary
                    p
                        // font-size: 14px

.theory-pop.model
    max-width: 840px
    height: fit-content
    left: 50%
    top: 50%
    transform: translate(-50%, 100vh)
    transition: 0.6s ease
    @include media(768)
        height: 100%
        border-radius: 0
        overflow-y: auto
    &.is-open
        transform: translate(-50%, -50%)
        transition: 0.6s ease
    .close:not(.btn)
        display: flex
        align-items: center
        gap: 12px
        font-size: 14px
        top: 20px
        right: 20px
        z-index: 1
        svg
            width: 20px
            height: 20px
            path
                stroke: $primary
                stroke-width: 2px
    .model-body
        padding: 0 50px 50px
        margin-top: 50px
        background: $white
        @include media(991)  
            padding: 0 30px 80px
        @include media(768)
            padding: 0 20px 20px  
            margin-top: 50px
        @include media(540)
            overflow-y: auto    
        .theory_wrapper
            .icon
                margin-bottom: 30px
                width: 60px
                height: 42px
                img
                    object-fit: contain
            h4
                margin-bottom: 20px
                color: $primary
                font-size: 24px
                font-weight: 600
            .desc
                p
                    &:not(:last-child)
                        margin-bottom: 15px
                ul
                    margin-bottom: 15px
                    li
                        position: relative
                        padding-left: 25px
                        &:not(:last-child)
                            margin-bottom: 12px
                        &::before
                            content: ''
                            position: absolute
                            width: 24px
                            height: 24px
                            background: url(/icon/arrow-right.svg) no-repeat
                            background-size: cover
                            top: 0
                            left: -5px
