@import '../_var'

.impact_sec
    background: #FFFBE6
    .heading
        text-align: center
    .info_grahphic
        .main_wrapper
            .play-btn
                right: 30px
                bottom: 40px
                left: unset
                top: unset
                transform: unset

.banner
    &.why_we_exist
        .banner-wrapper
            .icon
                width: 62px
                height: 42px
            .heading
                max-width: 557px
                h2
                    margin-top: 150px
                .desc
                    margin-top: 20px
                    p
                        &:not(:last-child)
                            margin-bottom: 15px

.mission_vision
    background: $primary
    .container-fluid
        margin-right: 0
        padding-right: 0
        
    .heading
        text-align: center
        margin-bottom: 60px
        h2
            color: $white
    .main_wrapper
        .mission_slider
            .mission_col
                background: $white
                padding: 30px 20px
                width: 100%
                height: 100%
                .title
                    display: flex
                    align-items: center
                    gap: 15px
                    margin-bottom: 20px
                    h6
                        flex: 1
                        color: $primary
                        font-weight: 700
                        font-size: 24px
                    .icon
                        flex: 0 1 auto
                        width: 50px
                        height: 50px
                .desc
                    p
                        &:not(:last-child)
                            margin-bottom: 10px
        .swiper-nav
            margin: 50px auto 0
            display: flex
            align-items: center
            gap: 15px
            justify-content: center
            position: relative
            @include media(768)
                margin: 40px auto 0 
            @include media(540)
                margin: 30px auto 0
                display: flex !important
            .swiper-prev, .swiper-next
                flex: 0 1 auto
            .progressbar
                flex: 1
                width: 220px
                max-width: 220px
                position: relative
                @include media(540)
                    max-width: 180px
                    height: 2px
            .swiper-pagination-progressbar
                height: 3px
                --swiper-pagination-color: var(--white)
                background: #FFFFFF6B

.our_strategy
    background: #FFFBE6
    .heading 
        text-align: center
        max-width: 450px
        margin: 0 auto 60px
    .strategy_wrapper
        position: relative
        .swiper-nav
            max-width: 80%
            width: 80%
    .info_details
        margin-top: 50px
        background: $white
        padding: 40px
        align-items: center
        figure
            flex: 0 1 auto
            padding-right: 55px
        figcaption
            flex: 1
            padding-left: 55px
            border-left: 1px solid $primary
            p
                &:not(:last-child)
                    margin-bottom: 20px