@import '../_var'

.commanSec
    padding: 70px 0
    @include media(1170)
        padding: 60px 0
    @include media(991)
        padding: 50px 0
    @include media(768)
        padding: 40px 0
    @include media(540)
        padding: 30px 0
.global-secA
    background: var(--bgpink)
.global-secB
    background: var(--primary)
    h3
        font-size: 20px
        text-align: center
        margin-bottom: 4rem
        color: rgba(255, 255, 255, 0.7)
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 1px

.global-secC
    .heading
        width: 100%
        max-width: 450px
        margin: 0 auto 4rem
        text-align: center
        h2
            width: 100%
            max-width: 350px
            margin: 0 auto
    .grid
        position: relative
        .item-content
            ul
                border-left: 1px solid $primary
                margin: 0 0 20px 10px
                padding: 30px 0
                gap: 30px
                li
                    position: relative
                    padding-left: 25px
                    &:not(:last-child)
                        margin-bottom: 15px
                    font-weight: 400
                    &::before
                        content: ""
                        position: absolute
                        left: -9px
                        top: 7px
                        width: 16px
                        height: 16px
                        background: $primary
                        border-radius: 50%
                    h6
                        color: var(--primary)
                        font-weight: 600
                        font-size: 20px

.can_we_build
