@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.hero_banner .bg .banner-wrapper {
  top: unset;
  bottom: 20%;
  transform: translate(0, 20%);
}
.banner.hero_banner .bg .banner-wrapper .heading {
  max-width: 570px;
}
.banner.hero_banner .bg .banner-wrapper .heading p, .banner.hero_banner .bg .banner-wrapper .heading h1 {
  color: var(--white);
}

.info_grahphic.who_we_are .main_wrapper {
  --gap: 65px;
}
.info_grahphic .main_wrapper {
  align-items: center;
  --gap: 50px;
  gap: var(--gap);
}
.info_grahphic .main_wrapper figure {
  flex: 1;
  position: relative;
  width: 100%;
  max-width: 50%;
  line-height: 0;
}
.info_grahphic .main_wrapper figure .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info_grahphic .main_wrapper figure .logoIcon {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.info_grahphic .main_wrapper figure .ceo_details {
  position: absolute;
  bottom: 40px;
  left: 30px;
  line-height: 1.2;
}
.info_grahphic .main_wrapper figure .ceo_details p {
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--white);
}
.info_grahphic .main_wrapper figure .ceo_details h6 {
  font-size: 40px;
  font-weight: 500;
  color: var(--white);
}
.info_grahphic .main_wrapper figcaption {
  flex: 1;
  width: 100%;
  max-width: calc(100% - var(--gap));
}
.info_grahphic .main_wrapper figcaption .location {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--text);
  font-size: 14px;
  padding: 7px 35px;
  border-radius: 25px;
  background: #EDEDED;
  font-weight: 500;
}
.info_grahphic .main_wrapper figcaption .heading h2 {
  font-size: 36px;
  color: var(--primary);
  font-weight: 700;
}
.info_grahphic .main_wrapper figcaption .desc {
  margin-top: 20px;
}
.info_grahphic .main_wrapper figcaption .desc p {
  font-weight: 400;
  line-height: 1.5;
}
.info_grahphic .main_wrapper figcaption .desc p:not(:last-child) {
  margin-bottom: 20px;
}
.info_grahphic .main_wrapper figcaption .desc ul {
  border-left: 1px solid var(--primary);
  margin: 0 0 20px 10px;
  padding-top: 10px;
}
.info_grahphic .main_wrapper figcaption .desc ul li {
  position: relative;
  padding-left: 20px;
}
.info_grahphic .main_wrapper figcaption .desc ul li:not(:last-child) {
  margin-bottom: 15px;
}
.info_grahphic .main_wrapper figcaption .desc ul li {
  font-weight: 400;
}
.info_grahphic .main_wrapper figcaption .desc ul li::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 7px;
  width: 16px;
  height: 16px;
  background: var(--white);
  border: 1px solid var(--primary);
  border-radius: 50%;
}
.info_grahphic .main_wrapper figcaption .btn {
  margin-top: 40px;
}

.strategy_col.item-md {
  width: 100%;
  height: 100%;
}
.strategy_col.item-md:hover figure img {
  transform: scale(1.2);
}
.strategy_col.item-md::before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(102, 102, 102, 0) 100%);
}
.strategy_col.item-md .logoIcon {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 60px;
  height: 40px;
}
.strategy_col.item-md figcaption {
  padding: 0 40px 40px;
}
@media only screen and (min-width: 1440px) {
  .strategy_col.item-md figcaption .content {
    max-width: 80%;
  }
}
.strategy_col.item-md figcaption .content *:not(.btn) {
  color: var(--white);
}
.strategy_col.item-md figcaption .content h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.strategy_col.item-md figcaption .content .btn {
  z-index: 1;
  margin-top: 20px;
}

.tab-container .row {
  margin: 30px 0 40px 0;
  border-bottom: 1px solid rgba(0, 77, 153, 0.22);
  position: relative;
}
.tab-container .row .swiper-nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.tab-container .row .tabs {
  display: flex;
}
.tab-container .row .tabs .tab {
  cursor: pointer;
  font-weight: 500;
  padding: 16px 40px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.tab-container .row .tabs .tab::before {
  content: "";
  height: 3px;
  background: var(--primary);
  width: 0%;
  left: 0;
  position: absolute;
  bottom: 0;
  transition: width 0.5s ease-in-out;
}
.tab-container .row .tabs .tab.active {
  color: var(--primary);
}
.tab-container .row .tabs .tab.active::before {
  transform: scale(1);
  width: 100%;
}
.tab-container .content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.tab-container .content.active {
  opacity: 1;
  height: 100%;
  transform: translateY(0);
}

.logo-slider .swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.logo-slider .swiper .swiper-wrapper .swiper-slide figure {
  padding: 5px;
  height: 72px;
}
.logo-slider .swiper .swiper-wrapper .swiper-slide figure img {
  -o-object-fit: contain;
     object-fit: contain;
}

.team_col.item-md {
  cursor: pointer;
}
.team_col.item-md::before {
  background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0) 50%);
}
.team_col.item-md:hover figure img {
  transform: scale(1.2);
}
.team_col.item-md figcaption {
  padding: 0 25px 25px;
}
.team_col.item-md figcaption * {
  color: var(--white);
}
.team_col.item-md figcaption h6 {
  font-size: 18px;
  font-weight: 700;
}
.team_col.item-md figcaption p {
  font-size: 14px;
  font-weight: 500;
}

.team-pop.model {
  max-width: 1000px;
  height: -moz-fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100vh);
  transition: 0.6s ease;
}
@media only screen and (max-width: 768px) {
  .team-pop.model {
    height: 100%;
    border-radius: 0;
    overflow-y: auto;
  }
}
.team-pop.model.is-open {
  transform: translate(-50%, -50%);
  transition: 0.6s ease;
}
.team-pop.model .close:not(.btn) {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.team-pop.model .close:not(.btn) svg {
  width: 20px;
  height: 20px;
}
.team-pop.model .close:not(.btn) svg path {
  stroke: var(--primary);
  stroke-width: 2px;
}
.team-pop.model .model-body {
  padding: 0 50px 80px;
  margin-top: 80px;
  background: var(--white);
}
@media only screen and (max-width: 991px) {
  .team-pop.model .model-body {
    padding: 0 30px 80px;
  }
}
@media only screen and (max-width: 768px) {
  .team-pop.model .model-body {
    padding: 0 20px 20px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 540px) {
  .team-pop.model .model-body {
    overflow-y: auto;
  }
}
.team-pop.model .model-body .team_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
}
@media only screen and (max-width: 768px) {
  .team-pop.model .model-body .team_wrapper {
    flex-direction: column;
  }
}
@media only screen and (max-width: 540px) {
  .team-pop.model .model-body .team_wrapper {
    gap: 20px;
  }
}
.team-pop.model .model-body .team_wrapper figure {
  flex: 0 1 auto;
  width: 100%;
  max-width: 280px;
  position: relative;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .team-pop.model .model-body .team_wrapper figure {
    flex: 0 1 50%;
    width: 50%;
  }
}
@media only screen and (max-width: 540px) {
  .team-pop.model .model-body .team_wrapper figure {
    flex: 0 1 100%;
    width: 70%;
  }
}
.team-pop.model .model-body .team_wrapper figure .social_icon {
  padding: 15px 12px;
  background: var(--primary);
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.team-pop.model .model-body .team_wrapper figure .social_icon .socialLinks {
  color: var(--white);
  display: block;
  width: 22px;
  height: 22px;
}
.team-pop.model .model-body .team_wrapper figcaption {
  flex: 1;
}
.team-pop.model .model-body .team_wrapper figcaption .heading {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--primary);
}
@media only screen and (max-width: 768px) {
  .team-pop.model .model-body .team_wrapper figcaption .heading {
    text-align: center;
  }
}
.team-pop.model .model-body .team_wrapper figcaption .heading h6 {
  font-weight: 700;
  font-size: 28px;
  color: var(--primary);
}
@media only screen and (max-width: 991px) {
  .team-pop.model .model-body .team_wrapper figcaption .heading h6 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 540px) {
  .team-pop.model .model-body .team_wrapper figcaption .heading h6 {
    font-size: 20px;
  }
}
.team-pop.model .model-body .team_wrapper figcaption .heading p {
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  margin-top: 0;
}
.team-pop.model .model-body .team_wrapper figcaption .team_details {
  margin-top: 20px;
  padding: 0px 15px 15px 0;
  max-height: 240px;
  overflow-y: auto;
}
.team-pop.model .model-body .team_wrapper figcaption .team_details::-webkit-scrollbar {
  width: 4px;
  background: #D9D9D9;
  height: 4px;
}
.team-pop.model .model-body .team_wrapper figcaption .team_details::-webkit-scrollbar-track {
  box-shadow: none;
}
.team-pop.model .model-body .team_wrapper figcaption .team_details::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .team-pop.model .model-body .team_wrapper figcaption .team_details {
    max-height: 100%;
    overflow-y: visible;
  }
}
.team-pop.model .model-body .team_wrapper figcaption .team_details p {
  font-size: 14px;
}
.team-pop.model .model-body .team_wrapper figcaption .team_details p:not(:last-child) {
  margin-bottom: 10px;
}

.resource-card.border {
  border: 1px solid rgb(218, 218, 218);
}
.resource-card figure {
  height: 196px;
}
.resource-card figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.resource-card figcaption {
  background: var(--white);
  padding: 16px;
}
.resource-card figcaption h4 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}
.resource-card figcaption .desc {
  margin-bottom: 24px;
}
.resource-card figcaption .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.resource-card figcaption .info .date {
  font-size: 12px;
}
.resource-card figcaption .info .tag {
  border-radius: 50px;
  background: var(--bgpink);
  padding: 6px 16px;
  font-size: 14px;
  color: var(--black);
  transition: 0.3s ease;
}
.resource-card figcaption .info .btn {
  font-size: 14px;
  padding: 6px 16px;
  --height: 30px;
  transition: 0.3s ease;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s ease;
}
.resource-card:hover {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
}
.resource-card:hover figcaption .tag {
  opacity: 0;
}
.resource-card:hover figcaption .btn {
  opacity: 1;
}

.tab-container .row .swiper-nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.tab-container .content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.tab-container .content.active {
  opacity: 1;
  height: 100%;
  transform: translateY(0);
}

.logo-slider .swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.logo-slider .swiper .swiper-wrapper .swiper-slide figure {
  padding: 5px;
  height: 72px;
}
.logo-slider .swiper .swiper-wrapper .swiper-slide figure img {
  -o-object-fit: contain;
     object-fit: contain;
}

.map-select {
  background: var(--white);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 10px;
  position: relative;
  cursor: pointer;
}
.map-select .type-icon {
  width: 16px;
  height: 16px;
}
.map-select figcaption {
  flex: 1;
}
.map-select figcaption .type {
  font-size: 12px;
  color: rgba(102, 102, 102, 0.5);
}
.map-select figcaption .value {
  font-size: 14px;
}
.map-select .option-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.5s ease;
}
.map-select .option-container.open {
  grid-template-rows: 1fr;
}
.map-select .option-container .options {
  background: var(--white);
  z-index: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  max-height: 150px;
  overflow-y: auto;
}
.map-select .option-container .options::-webkit-scrollbar {
  width: 4px;
}
.map-select .option-container .options::-webkit-scrollbar-track {
  background: transparent;
}
.map-select .option-container .options::-webkit-scrollbar-thumb {
  background: var(--primary);
}
.map-select .option-container .options li {
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
}
.map-select .option-container .options li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.map-select .option-container .options li.selected {
  background: var(--bglight);
}

.map-pointer {
  background: var(--white);
  box-shadow: 0px 7.53px 27.11px 0px rgba(0, 0, 0, 0.16);
}
.map-pointer h4 {
  font-size: 14px;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 5px;
}
.map-pointer p {
  transition: all 0.5s ease;
  font-size: 12px;
}
.map-pointer p:not(:last-child) {
  margin-bottom: 2px;
}
.map-pointer .btn {
  margin-top: 16px;
  font-size: 12px;
  --height: 28px;
  font-weight: 500;
}

.gm-style-iw.gm-style-iw-c {
  max-width: 320px !important;
}

.tab-row {
  border-bottom: 1px solid rgba(0, 77, 153, 0.22);
  position: relative;
}
.tab-row.full .tabs {
  max-width: 100%;
}
.tab-row .swiper-nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.tab-row .tabs {
  display: flex;
  max-width: 75%;
}
.tab-row .tabs .tab {
  cursor: pointer;
  font-weight: 500;
  padding: 16px 40px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.tab-row .tabs .tab::before {
  content: "";
  height: 3px;
  background: var(--primary);
  width: 0%;
  left: 0;
  position: absolute;
  bottom: 0;
  transition: width 0.5s ease-in-out;
}
.tab-row .tabs .tab.active {
  color: var(--primary);
}
.tab-row .tabs .tab.active::before {
  transform: scale(1);
  width: 100%;
}

.latest-article {
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  padding: 20px 28px;
}
.latest-article h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.latest-article ul li a {
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}
.latest-article ul li a figure {
  width: 106px;
  height: 74px;
}
.latest-article ul li a figcaption {
  flex: 1;
}
.latest-article ul li a figcaption h4 {
  font-size: 14px;
  font-weight: 500;
}
.latest-article ul li:first-child a {
  align-items: start;
  flex-direction: column;
}
.latest-article ul li:first-child a figure {
  width: 100%;
  height: 228px;
}
.latest-article ul li:not(:last-child) {
  border-bottom: 1px solid rgb(212, 212, 212);
}

.moreSection {
  padding: 0px 0 60px;
}
.moreSection .container .heading h2 {
  text-align: center;
}
.moreSection .container .content {
  position: relative;
  margin-top: 50px;
}

.InsightContainer.invert .grid .media {
  order: 2;
}
.InsightContainer.invert .grid .item-content {
  order: 1;
}
.InsightContainer.light .grid .item-content h2,
.InsightContainer.light .grid .item-content p,
.InsightContainer.light .grid .item-content li,
.InsightContainer.light .grid .item-content span {
  color: var(--white);
}
.InsightContainer.light .grid .item-content ul li::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6l6 6-6 6' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
}
.InsightContainer .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 50px;
}
@media only screen and (max-width: 991px) {
  .InsightContainer .grid {
    grid-template-columns: 100%;
    gap: 30px;
  }
}
.InsightContainer .grid .media {
  position: relative;
  width: 571px;
  height: 416px;
}
.InsightContainer .grid .media img,
.InsightContainer .grid .media video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.InsightContainer .grid .media .play-btn {
  --btnsize: 73px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.InsightContainer .grid .item-content {
  width: 100%;
  max-width: 520px;
}
.InsightContainer .grid .item-content h2 {
  font-size: 36px;
  color: var(--primary);
  margin-bottom: 20px;
}
@media only screen and (max-width: 675px) {
  .InsightContainer .grid .item-content h2 {
    font-size: 20px;
  }
}
.InsightContainer .grid .item-content p {
  color: var(--para);
}
.InsightContainer .grid .item-content p:not(:last-child) {
  margin-bottom: 20px;
}
.InsightContainer .grid .item-content ul {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.InsightContainer .grid .item-content ul p {
  margin: 5px 0;
}
.InsightContainer .grid .item-content ul li {
  position: relative;
  padding-left: 30px;
  color: var(--para);
}
.InsightContainer .grid .item-content ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6l6 6-6 6' stroke='%231a56db' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  content: "";
}
.InsightContainer .grid .item-content .btn {
  margin-top: 26px;
}

.otherBanner {
  height: 271px;
  margin-top: var(--headerheight);
}
.otherBanner .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.otherBanner .container h2, .otherBanner .container p {
  text-align: center;
}
.otherBanner .container h2 {
  font-size: 48px;
}
.otherBanner .container h2 {
  color: var(--primary);
  margin-bottom: 14px;
}
.otherBanner .container p {
  max-width: 476px;
  margin: 0 auto;
}
.otherBanner .container .btn {
  margin-top: 24px;
}/*# sourceMappingURL=component.css.map */