@import '../_var'

.contact_hero
    .bg
        .banner-wrapper
            .heading
                h1
                    margin-top: 40px
                    @include media(540)
                        margin-top: 30px

.contact_sec
    .main_wrapper
        overflow: hidden
        --gap: 100px
        gap: var(--gap)
        justify-content: space-between
        @include media(991) 
            --gap: 20px
        @include media(768)
            --gap: 60px
        .colA
            flex: 0 1 auto
            max-width: 320px
            width: 100%
            @include media(991) 
                opacity: 1 !important
                transform: none !important
            @include media(768)
                flex: 0 1 100%
                max-width: 100%
            .logo
                width: 150px
                height: 42px
            p
                margin: 30px 0 
                @include media(991) 
                    margin: 25px 0 
                @include media(540)
                    margin: 20px 0 
            ul
                &:not(.social_icons)
                    li
                        display: flex
                        align-items: start
                        gap: 20px
                        @include media(540)
                            gap: 15px
                        &:not(:last-child)
                            margin-bottom: 20px
                        &:hover
                            .details
                                p, a
                                    color: $primary
                                    transform: translateX(5px)
                        .icon
                            flex: 0 1 auto
                            width: 40px
                            height: 40px
                        .details
                            flex: 1
                            h6
                                font-size: 18px
                                font-weight: 600
                            p, a 
                                display: block
                                font-size: 14px
                                color: $text
                                transition: .5s ease
            .social_icons
                display: flex
                flex-wrap: wrap
                align-items: center
                gap: 10px
                margin-top: 30px
                @include media(991)
                    justify-content: center
                @include media(768)
                    justify-content: start
                li
                    a
                        display: flex
                        align-items: center
                        justify-content: center
                        width: 41px
                        height: 41px
                        border: 1px solid $primary
                        color: $primary
                        border-radius: 50%
                        &:hover
                            background: $primary
                            color: $white
        .colB
            flex: 1
            max-width: 700px
            padding: 0 40px 40px
            @include media(991) 
                opacity: 1 !important
                transform: none !important
                padding: 0
            @include media(768)
                flex: 0 1 100%
                max-width: 100% 
            .heading
                max-width: 335px
                margin-bottom: 45px
                @include media(991) 
                    margin-bottom: 35px
                @include media(768)
                    text-align: center
                    margin: 0 auto 45px
                @include media(540)
                    margin: 0 auto 40px
                h2
                    font-size: 32px
                    font-weight: 600
                    @include media(768)
                        font-size: 30px
                    @include media(540)
                        font-size: 28px
            .form
                .form-grid
                    --item: 2
                    --gaplr: 55px
                    @include media(991) 
                        --gaplr: 25px
                    .submit-grp
                        @include media(768)
                            text-align: center