@import '../_var'

.contact_hero
    .bg
        .banner-wrapper
            .heading
                h1
                    margin-top: 40px

.contact_sec
    .main_wrapper
        --gap: 100px
        gap: var(--gap)
        justify-content: space-between
        .colA
            flex: 0 1 auto
            max-width: 320px
            width: 100%
            .logo
                width: 150px
                height: 42px
            p
                margin: 30px 0 
            ul
                &:not(.social_icons)
                    li
                        display: flex
                        align-items: start
                        gap: 20px
                        &:not(:last-child)
                            margin-bottom: 20px
                        &:hover
                            .details
                                p, a
                                    color: $primary
                                    transform: translateX(5px)
                        .icon
                            flex: 0 1 auto
                            width: 40px
                            height: 40px
                        .details
                            flex: 1
                            h6
                                font-size: 18px
                                font-weight: 600
                            p, a 
                                display: block
                                font-size: 14px
                                color: $text
                                transition: .5s ease
            .social_icons
                display: flex
                flex-wrap: wrap
                align-items: center
                gap: 10px
                margin-top: 30px
                @include media(991)
                    justify-content: center
                @include media(540)
                    justify-content: center
                li
                    a
                        display: flex
                        align-items: center
                        justify-content: center
                        width: 41px
                        height: 41px
                        border: 1px solid $primary
                        color: $primary
                        border-radius: 50%
                        &:hover
                            background: $primary
                            color: $white
        .colB
            flex: 1
            max-width: 700px
            padding: 0 40px 40px
            .heading
                max-width: 335px
                margin-bottom: 45px
                h2
                    font-size: 32px
                    font-weight: 600
            .form
                .form-grid
                    --item: 2
                    --gaplr: 55px