@import '../_var'

.banner.how_works_hero
    .bg
        .banner-wrapper 
            .heading
                max-width: 640px

.surface_radiative
    background: #FFFBE6
    .main_wrapper
        flex-direction: row-reverse